<div class="alert alert-danger mt-5" role="alert" style="margin-bottom: 0;">
  <br>
  <h5 class="pull-right">รายการอุปกรณ์ส่งซ่อมที่ปลายทางยังไม่บันทึกรับซ่อม</h5>
</div>
<div class="table-responsive">
  <table class="table table-dark table-bordered table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>ลำดับที่</th>
        <th>เอกสารส่งซ่อม</th>
        <th>tag no</th>
        <th>pno</th>
        <th>sno</th>
        <th>วันที่ส่งซ่อม</th>
        <th>จำนวนวันส่งซ่อม</th>
        <th>ปลายทาง</th>
        <th>อาการเสีย</th>
        <th>::</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data ;let i=index;">
        <td>{{i+1}}</td>
        <td>{{d?.doc_no}}</td>
        <td>{{d?.tag_no}}</td>
        <td>{{d?.pno}}</td>
        <td>{{d?.sno}}</td>
        <td>{{d?.send_date1}}</td>
        <td>{{d?.date_count}}</td>
        <td>{{d?.province_name}}</td>
        <td>{{d?.symptom}}</td>
        <td>
          <button class="btn-success btn-sm" (click)="openAlert(d)" [disabled]="d?.sendmail_seq==='3'">
            <i class="material-icons">
              email
            </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal" tabindex="-1" role="dialog" id="alert">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เลือกระดับความสำคัญในการส่งเมล์</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="priority" (click)="setPriority(0)"  checked>
          <label class="form-check-label" for="priority">
            ปกติ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="priority" (click)="setPriority(1)" id="priority" >
          <label class="form-check-label" for="priority">
            ด่วนมาก
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendmail()">ส่งเมล์</button>
      </div>
    </div>
  </div>
</div>
