<div class="alert alert-danger mt-5" role="alert" style="margin-bottom: 0;">
  <br>
  <h5 class="pull-right">รายการอุปกรณ์ที่ยังไม่ได้บันทึกรับคืน</h5>
</div>
<div class="table-responsive">
  <table class="table table-dark table-bordered table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>ลำดับที่</th>
        <th>เอกสารส่งซ่อม</th>
        <th>tag no</th>
        <th>pno</th>
        <th>sno</th>
        <th>pno(คืน)</th>
        <th>sno(คืน)</th>
        <th>วันที่ส่งซ่อม</th>
        <th>วันที่ส่งคืน</th>
        <th>ปลายทาง</th>
        <th>::</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data ;let i=index;"> 
        <td>{{i+1}}</td>
        <td>{{d?.doc_no}}</td>
        <td>{{d?.tag_no}}</td>
        <td>{{d?.pno}}</td>
        <td>{{d?.sno}}</td>
        <td>{{d?.ret_pno}}</td>
        <td>{{d?.ret_sno}}</td>
        <td>{{d?.send_date1}}</td>
        <td>{{d?.ret_date1}}</td>
        <td>{{d?.province_name}}</td>
        <td>
          <button class="btn-success btn-sm" (click)="save(d)">
            <i class="material-icons">
              save
            </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
